/* 
img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }
    */

    /* Row 1 */
div.css-xc1mdd.e1tzin5v3 {
    background-color: rgb(63, 79, 107);
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
}
